.delete {
  border-radius: 10px;
  font-size: 18px;
  padding: 5px 10px;
  background: #cc0000;
  margin: auto;
  display: flex;
}

.list {
  width: 37.5rem;
}

.mat-mdc-list .mat-mdc-list-item {
  height: 90px;
}
