.history-item {
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  background-color: #d7d9d9;
  border-radius: 15px;

  &--PLAYER {
    background-color: #b6d7a8;
  }

  &--NPC {
    background-color: #ea9999;
  }

  h2 {
    margin-bottom: 0px;
  }
  .mat-icon {
    width: 3.5rem;
    height: 3.5rem;
    transform: scale(0.8);
  }
}
